/* light mode */
.light-theme {
  background-color: #fffafa;
  color: black;
}

.light-theme a {
  color: #268bd2;
}

.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #313131;
}

.light-theme strong {
  color: #303030;
}

.light-theme abbr {
  color: #555;
}

.light-theme code {
  color: #bf616a;
  background-color: #f9f9f9;
}

.light-theme pre {
  background-color: #f9f9f9;
}

.light-theme pre {
  color: #7a7a7a;
}

.light-theme tbody tr:nth-child(odd) td,
.light-theme tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.light-theme .message {
  color: #717171;
  background-color: #f9f9f9;
}

.light-theme .masthead {
  border-bottom-color: #eee;
}

.light-theme .masthead-title a {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, pink, violet, lightskyblue);
}

.light-theme .masthead-title small {
  color: #c0c0c0;
}

.light-theme .page-title,
.light-theme .post-title,
.light-theme .post-title a {
  color: #303030;
}

.light-theme .post-date {
  color: #9a9a9a;
}

.light-theme .related-posts li small {
  color: #999;
}

.light-theme .related-posts li a:hover {
  color: #268bd2;
}

.light-theme .pagination {
  color: #ccc;
}

.light-theme a.pagination-item:hover {
  background-color: #f5f5f5;
}

.light-theme .sidebar {
  color: rgba(255, 255, 255, 0.6);
  background-color: #202020;
}

.light-theme .sidebar a {
  color: #fff;
}

.light-theme .sidebar .circle-button {
  background-color: rgba(255, 255, 255, 0.9);
}

.light-theme .sidebar .slider {
  background-color: #ccc;
}

.light-theme .sidebar .slider:before {
  background-color: rgba(255, 255, 255, 0.9);
}

.light-theme input:checked + .slider {
  background-color: #2196f3;
}

.light-theme .sidebar-nav-item.active,
.light-theme a.sidebar-nav-item:hover,
.light-theme .sidebar-nav-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.light-theme .sidebar-toggle {
  color: #505050;
  background-color: transparent;
}

.light-theme .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E")
    no-repeat;
}
.light-theme .sidebar-toggle:active:before,
.light-theme #sidebar-checkbox:focus ~ .sidebar-toggle::before,
.light-theme #sidebar-checkbox:checked ~ .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E")
    no-repeat;
}

.light-theme .sidebar-toggle:active,
.light-theme #sidebar-checkbox:focus ~ .sidebar-toggle,
.light-theme #sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: #555;
}

/* dark mode */
.dark-theme {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme a {
  color: #0077cc;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6 {
  color: #e4e4e4;
}

.dark-theme strong {
  color: #e5e5e5;
}

.dark-theme abbr {
  color: #eaeaea;
}

.dark-theme code {
  color: #a9b1d6;
  background-color: #1a1b26;
}

.dark-theme pre {
  background-color: #1a1b26;
  color: #858585;
}

.dark-theme tbody tr:nth-child(odd) td,
.dark-theme tbody tr:nth-child(odd) th {
  background-color: #1a1b26;
}

.dark-theme .message {
  color: #717171;
  background-color: #1a1b26;
}

.dark-theme .masthead {
  border-bottom-color: #222;
}

.dark-theme .masthead-title a {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, pink, violet, lightskyblue);
}

.dark-theme .masthead-title small {
  color: #a5a5a5;
}

.dark-theme .page-title,
.dark-theme .post-title,
.dark-theme .post-title a {
  color: #e2dcdc;
}

.dark-theme .post-date {
  color: #727272;
}

.dark-theme .related-posts li small {
  color: #666;
}

.dark-theme .related-posts li a:hover {
  color: #0077cc;
}

.dark-theme .pagination {
  color: #ccc;
}

/* TODO (just the one immediately below) */
.dark-theme a.pagination-item:hover {
  background-color: #f5f5f5;
}

.dark-theme .sidebar {
  color: rgba(255, 255, 255, 0.6);
  background-color: #202020;
}

.dark-theme .sidebar a {
  color: #fff;
}

.dark-theme .sidebar .circle-button {
  background-color: rgba(255, 255, 255, 0.9);
}

.dark-theme .sidebar .slider {
  background-color: #ccc;
}

.dark-theme .sidebar .slider:before {
  background-color: rgba(255, 255, 255, 0.9);
}

.dark-theme input:checked + .slider {
  background-color: #2196f3;
}

.dark-theme input:checked + .slider {
  background-color: #2196f3;
}

.dark-theme .sidebar-nav-item.active,
.dark-theme a.sidebar-nav-item:hover,
.dark-theme .sidebar-nav-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

/* todo: use the svg properly for the toggle */
.dark-theme .sidebar-toggle {
  background-color: transparent;
}

.dark-theme .sidebar-toggle:active,
.dark-theme #sidebar-checkbox:focus ~ .sidebar-toggle,
.dark-theme #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #444;
}

.dark-theme .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E")
    no-repeat;
}
.dark-theme .sidebar-toggle:active:before,
.dark-theme #sidebar-checkbox:focus ~ .sidebar-toggle::before,
.dark-theme #sidebar-checkbox:checked ~ .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E")
    no-repeat;
}

/* darken images in dark theme */
.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}
