---
---

.circle-button {
  background-color: white;
  border: none;
  padding: 17px;
  display: inline-block;
  border-radius: 100%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

a.button {
  -webkit-appearance: none;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

#github-button {
  margin-left: 3px;
  background-image: url({{"/public/images/github-mark.png"|absolute_url}});
}

#mail-button {
  margin-left: 3px;
  background-image: url({{"/public/images/mail.svg"|absolute_url}});
}

#linkedin-button {
  margin-left: 3px;
  background-image: url({{"/public/images/linkedin.svg"|absolute_url}});
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  background-image: url({{"/public/images/sun.svg"|absolute_url}});
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url({{"/public/images/moon.svg"|absolute_url}});
}
