<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" />

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <label class="switch" float="left" style="vertical-align: middle;">
      <input id="darkmode-slider" type="checkbox" />
      <a class="slider" onclick="toggleDarkMode()"></a>
    </label>
    <a
      class="button circle-button"
      id="mail-button"
      href="mailto:riley.shahar@gmail.com"
      style="vertical-align: middle;"
    ></a>
    <a
      class="button circle-button"
      id="linkedin-button"
      href="https://www.linkedin.com/in/riley-shahar"
      style="vertical-align: middle;"
    ></a>
    <a
      class="button circle-button"
      id="github-button"
      href="https://github.com/nihilistkitten"
      style="vertical-align: middle;"
    ></a>
  </div>

  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a
      class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}"
      href="{{ '/' | absolute_url }}"
      >Home</a
    >

    {% comment %} The code below dynamically generates a sidebar nav of pages
    with `layout: page` in the front-matter. See readme for usage. {% endcomment
    %} {% assign pages_list = site.pages | sort:"url" %} {% for node in
    pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
    <a
      class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
      href="{{ node.url | absolute_url }}"
      >{{ node.title }}</a
    >
    {% endif %} {% endif %} {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Riley Shahar.
    </p>
    <p>
      This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
        License </a
      >.
    </p>
  </div>
</div>
